html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

h2 {
  color: #5d8432;
  text-transform: uppercase;
}

img {
  width: 100%;
}

figcaption {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
}

nav {
  font-family: "Patua One", cursive;
  font-size: 1.125rem;
}

a {
  color: #793284;
  text-decoration: none;
}

a:hover {
  color: #b42885;
}

ol {
  list-style-type: none;
}
